!!! 5
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript')
      if (foo) {
         bar()
      }
  body
    h1 Jade - node template engine
    #container
      - if (youAreUsingJade)
        p You are amazing
      - else
        p Get on it!
    p Search by keyword
    form(action='/search')
      input(type='text',name='srchkwd')
      This is an entry in the 2011 Node Knockout from the
      a(href='http://nodeknockout.com/teams/node-noodles') Node Noodles
      team